- var css_path = 'assets/css'
- var domain = 'https://example.com/'
- var image_path = 'https://example.com/assets/img'
- var app_name = 'boardless'
- 
  var cultures = {
      ja:{locale:'ja_JP',lang:'ja'}
  }
