body {
  .welcome {
    width: 100%;
    padding-top: 50px;
    .subject {
      font-size: 24px;
      font-weight: bold;
      padding-bottom: 20px;
    }
    .body {
      color: #555555;
      font-size: 18px;
    }
    .sign-in {
      color: #555555;
      padding-top: 10px;
      padding-bottom: 10px;
      .btn {
        width: 120px;
      }
    }
    .attention {
      color: #888888;
      font-size: 12px;
    }
  }
}
